body{
    background-color: lawngreen;
    color: white;
}

@media screen and (min-width: 300px){
    body{
        background-color: goldenrod;
        color: black;
    }
}

@media screen and (min-width: 900px){
    body{
        background-color: indianred;
        color: darkcyan;
    }
}
